/*!
 This file is part of DecSoft App Builder.
 Visit our website for license information.
 Copyright © DecSoft Utils - All rights reserved.
 Visit our website at: https://www.decsoftutils.com
 */

.decsoft-typeahead-list
{
  margin-top: 6px;
  overflow-y: auto;
  max-height: 250px;
  position: absolute;
}

.decsoft-typeahead-list
{
  width: 100%;
  min-width: 100%;
}
