
/*!
This file is part of DecSoft App Builder.
Visit our website for license information.
Copyright ©2025 DecSoft. All rights reserved.
Visit our website at: https://www.decsoftutils.com/

*/

html, body { width: 320px; height: 480px; }

#start #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#start #image3 { position: absolute; top: 75.00%; left: 62.50%; width: 32.50%; height: 11.67%; }

#start #image2 { position: absolute; top: 18.33%; left: 5.00%; width: 90.00%; height: 25.00%; }
#start #image4 { position: absolute; top: 86.67%; left: 60.00%; width: 35.00%; height: 10.00%; }

#home #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 101.67%; }

#home #image4 { position: absolute; top: 35.00%; left: 12.50%; width: 72.50%; height: 13.33%; }
#home #image9 { position: absolute; top: 48.33%; left: 12.50%; width: 72.50%; height: 13.33%; }

#home #image10 { position: absolute; top: 60.00%; left: 12.50%; width: 72.50%; height: 13.33%; }

#home #image11 { position: absolute; top: 71.67%; left: 12.50%; width: 72.50%; height: 13.33%; }

#home #image12 { position: absolute; top: 83.33%; left: 12.50%; width: 72.50%; height: 13.33%; }

#home #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#home #image2 { position: absolute; top: 1.67%; left: 7.50%; width: 85.00%; height: 28.33%; }

#collaboration #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#collaboration #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#collaboration #image2 { position: absolute; top: 55.00%; left: 15.00%; width: 67.50%; height: 15.00%; }
#collaboration #image4 { position: absolute; top: 68.33%; left: 15.00%; width: 67.50%; height: 18.33%; }
#collaboration #image5 { position: absolute; top: 81.67%; left: 15.00%; width: 67.50%; height: 16.67%; }

#coaching1 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#coaching1 #carousel1 { position: absolute; top: 48.33%; left: 0.00%; width: 100.00%; height: 52.08%; }
#coaching1 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#coaching2 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#coaching2 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#problem1 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 30.00%; }

#problem1 #image4 { position: absolute; top: 48.33%; left: 2.50%; width: 92.50%; height: 41.67%; }

#problem1 #image5 { position: absolute; top: 91.67%; left: 22.50%; width: 52.50%; height: 10.00%; }

#problem1 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#problem1 #image1 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#problem1 #html3 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 31.67%; }
#problem2 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 30.00%; }

#problem2 #image5 { position: absolute; top: 90.00%; left: 22.50%; width: 52.50%; height: 8.33%; }

#problem2 #image4 { position: absolute; top: 48.33%; left: 2.50%; width: 92.50%; height: 41.67%; }

#problem2 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#problem2 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#problem3 #image5 { position: absolute; top: 91.67%; left: 22.50%; width: 52.50%; height: 8.33%; }
#problem3 #image4 { position: absolute; top: 48.33%; left: 2.50%; width: 92.50%; height: 41.67%; }
#problem3 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 30.00%; }

#problem3 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }
#problem3 #image7 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }

#problem4 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 30.00%; }

#problem4 #image5 { position: absolute; top: 91.67%; left: 22.50%; width: 52.50%; height: 8.33%; }
#problem4 #image4 { position: absolute; top: 46.67%; left: 2.50%; width: 92.50%; height: 41.67%; }
#problem4 #image7 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }
#problem4 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#problem5 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 30.00%; }

#problem5 #image5 { position: absolute; top: 91.67%; left: 22.50%; width: 52.50%; height: 8.33%; }

#problem5 #image4 { position: absolute; top: 46.67%; left: 2.50%; width: 92.50%; height: 41.67%; }

#problem5 #image7 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }

#problem5 #image1 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }

#problem5 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#learning1 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#learning1 #image2 { position: absolute; top: 45.00%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning1 #html1 { position: absolute; top: 81.67%; left: 0.00%; width: 100.00%; height: 23.33%; }

#learning1 #image4 { position: absolute; top: 58.33%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning1 #image5 { position: absolute; top: 71.67%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning1 #image6 { position: absolute; top: 11.67%; left: 25.00%; width: 50.00%; height: 30.00%; }
#learning1 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#learning1 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#learning2 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#learning2 #image2 { position: absolute; top: 45.00%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning2 #image4 { position: absolute; top: 58.33%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning2 #image5 { position: absolute; top: 71.67%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning2 #html1 { position: absolute; top: 81.67%; left: 0.00%; width: 100.00%; height: 23.33%; }

#learning2 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#learning2 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#learning2 #image6 { position: absolute; top: 11.67%; left: 25.00%; width: 50.00%; height: 30.00%; }

#learning3 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#learning3 #image2 { position: absolute; top: 45.00%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning3 #image4 { position: absolute; top: 58.33%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning3 #image5 { position: absolute; top: 71.67%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning3 #image7 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }

#learning3 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#learning3 #image6 { position: absolute; top: 11.67%; left: 25.00%; width: 50.00%; height: 30.00%; }

#learning4 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#learning4 #image2 { position: absolute; top: 45.00%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning4 #html1 { position: absolute; top: 81.67%; left: 0.00%; width: 100.00%; height: 23.33%; }

#learning4 #image4 { position: absolute; top: 58.33%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning4 #image5 { position: absolute; top: 71.67%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning4 #image7 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }

#learning4 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#learning4 #image6 { position: absolute; top: 11.67%; left: 25.00%; width: 50.00%; height: 30.00%; }

#learning5 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#learning5 #image2 { position: absolute; top: 45.00%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning5 #html1 { position: absolute; top: 81.67%; left: 0.00%; width: 100.00%; height: 23.33%; }

#learning5 #image4 { position: absolute; top: 58.33%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning5 #image5 { position: absolute; top: 71.67%; left: 17.50%; width: 65.00%; height: 8.33%; }
#learning5 #image7 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }

#learning5 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#learning5 #image6 { position: absolute; top: 11.67%; left: 25.00%; width: 50.00%; height: 30.00%; }

#compre1 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#compre1 #image2 { position: absolute; top: 30.00%; left: 32.50%; width: 32.50%; height: 8.33%; }
#compre1 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#compre1 #image5 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#compre2 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#compre2 #image2 { position: absolute; top: 28.33%; left: 35.00%; width: 32.50%; height: 8.33%; }
#compre2 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#compre3 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#compre3 #image2 { position: absolute; top: 81.67%; left: 35.00%; width: 32.50%; height: 8.33%; }
#compre3 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#compre4 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#compre4 #image2 { position: absolute; top: 81.67%; left: 35.00%; width: 32.50%; height: 8.33%; }
#compre4 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#compre5 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#compre5 #image2 { position: absolute; top: 81.67%; left: 35.00%; width: 32.50%; height: 8.33%; }
#compre5 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#scaf1 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#scaf1 #image2 { position: absolute; top: 11.67%; left: 20.00%; width: 28.44%; height: 16.67%; }
#scaf1 #image6 { position: absolute; top: 31.67%; left: 52.50%; width: 27.50%; height: 16.67%; }
#scaf1 #image7 { position: absolute; top: 11.67%; left: 52.50%; width: 27.50%; height: 16.67%; }
#scaf1 #image8 { position: absolute; top: 31.67%; left: 20.00%; width: 28.44%; height: 16.67%; }
#scaf1 #image4 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#scaf1 #image5 { position: absolute; top: 55.00%; left: 12.50%; width: 75.00%; height: 45.00%; }

#scaf1 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#scaf2 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#scaf2 #image2 { position: absolute; top: 11.67%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf2 #image4 { position: absolute; top: 11.67%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf2 #image6 { position: absolute; top: 33.33%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf2 #image5 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }

#scaf2 #image8 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf2 #image9 { position: absolute; top: 55.00%; left: 12.50%; width: 75.00%; height: 45.00%; }

#scaf2 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#scaf2 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#scaf3 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#scaf3 #image2 { position: absolute; top: 11.67%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf3 #image4 { position: absolute; top: 11.67%; left: 52.50%; width: 33.44%; height: 20.00%; }

#scaf3 #image5 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }

#scaf3 #image6 { position: absolute; top: 33.33%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf3 #image7 { position: absolute; top: 11.67%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf3 #image8 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf3 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#scaf3 #image9 { position: absolute; top: 55.00%; left: 12.50%; width: 75.00%; height: 45.00%; }

#scaf3 #image10 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }

#scaf4 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#scaf4 #image2 { position: absolute; top: 11.67%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf4 #image4 { position: absolute; top: 11.67%; left: 52.50%; width: 33.44%; height: 20.00%; }

#scaf4 #image5 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }

#scaf4 #image6 { position: absolute; top: 33.33%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf4 #image7 { position: absolute; top: 11.67%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf4 #image8 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf4 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#scaf4 #image9 { position: absolute; top: 55.00%; left: 12.50%; width: 75.00%; height: 45.00%; }

#scaf4 #image10 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }

#scaf5 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#scaf5 #image2 { position: absolute; top: 11.67%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf5 #image4 { position: absolute; top: 11.67%; left: 52.50%; width: 33.44%; height: 20.00%; }

#scaf5 #image5 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }

#scaf5 #image6 { position: absolute; top: 33.33%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf5 #image7 { position: absolute; top: 11.67%; left: 52.50%; width: 33.44%; height: 20.00%; }
#scaf5 #image8 { position: absolute; top: 33.33%; left: 12.50%; width: 33.44%; height: 20.00%; }
#scaf5 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#scaf5 #image9 { position: absolute; top: 55.00%; left: 12.50%; width: 75.00%; height: 45.00%; }

#scaf5 #image10 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }

#task1 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#task1 #label1 { position: absolute; top: 21.67%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task1 #label2 { position: absolute; top: 51.67%; left: 5.00%; width: 87.50%; height: 20.00%; }

#task1 #labelInput2 { position: absolute; top: 65.00%; left: 5.00%; width: 87.50%; height: 10.00%; }

#task1 #submit1 { position: absolute; top: 80.00%; left: 37.50%; width: 22.50%; height: 6.67%; }

#task1 #labelInput1 { position: absolute; top: 35.00%; left: 5.00%; width: 87.50%; height: 10.00%; }

#task1 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#task1 #image4 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#task1 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#task2 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#task2 #label1 { position: absolute; top: 21.67%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task2 #label2 { position: absolute; top: 51.67%; left: 5.00%; width: 87.50%; height: 20.00%; }

#task2 #labelInput1 { position: absolute; top: 65.00%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task2 #labelInput2 { position: absolute; top: 33.33%; left: 5.00%; width: 87.50%; height: 10.00%; }

#task2 #submit2 { position: absolute; top: 85.00%; left: 37.50%; width: 22.50%; height: 6.67%; }
#task2 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#task2 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }
#task2 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#task3 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#task3 #label1 { position: absolute; top: 21.67%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task3 #label2 { position: absolute; top: 51.67%; left: 5.00%; width: 87.50%; height: 20.00%; }

#task3 #labelInput1 { position: absolute; top: 65.00%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task3 #labelInput2 { position: absolute; top: 33.33%; left: 5.00%; width: 87.50%; height: 10.00%; }

#task3 #submit3 { position: absolute; top: 83.33%; left: 37.50%; width: 22.50%; height: 6.67%; }
#task3 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#task3 #image7 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }
#task3 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#task4 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#task4 #label1 { position: absolute; top: 21.67%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task4 #label2 { position: absolute; top: 51.67%; left: 5.00%; width: 87.50%; height: 20.00%; }

#task4 #labelInput1 { position: absolute; top: 65.00%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task4 #labelInput2 { position: absolute; top: 33.33%; left: 5.00%; width: 87.50%; height: 10.00%; }

#task4 #submit4 { position: absolute; top: 85.00%; left: 37.50%; width: 22.50%; height: 6.67%; }
#task4 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#task4 #image7 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }
#task4 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#task5 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#task5 #label1 { position: absolute; top: 21.67%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task5 #label2 { position: absolute; top: 51.67%; left: 5.00%; width: 87.50%; height: 20.00%; }

#task5 #labelInput1 { position: absolute; top: 65.00%; left: 5.00%; width: 87.50%; height: 15.00%; }

#task5 #labelInput2 { position: absolute; top: 33.33%; left: 5.00%; width: 87.50%; height: 10.00%; }

#task5 #submit5 { position: absolute; top: 86.67%; left: 37.50%; width: 22.50%; height: 6.67%; }

#task5 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#task5 #image2 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }
#task5 #image4 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot11 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#taskbot11 #image4 { position: absolute; top: 16.67%; left: 2.50%; width: 95.00%; height: 45.00%; }
#taskbot11 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#taskbot11 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }
#taskbot11 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot11 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot12 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot12 #image4 { position: absolute; top: 16.67%; left: 2.50%; width: 95.00%; height: 48.33%; }

#taskbot12 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#taskbot12 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }
#taskbot12 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot12 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot21 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot21 #image4 { position: absolute; top: 13.33%; left: 7.50%; width: 85.00%; height: 68.33%; }
#taskbot21 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#taskbot21 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot21 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot21 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot22 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot22 #image4 { position: absolute; top: 13.33%; left: 7.50%; width: 85.00%; height: 66.67%; }
#taskbot22 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#taskbot22 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot22 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot22 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot23 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot23 #image4 { position: absolute; top: 11.67%; left: 7.50%; width: 85.00%; height: 73.33%; }
#taskbot23 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#taskbot23 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot23 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot23 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot24 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot24 #image4 { position: absolute; top: 15.00%; left: 7.50%; width: 85.00%; height: 68.33%; }
#taskbot24 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#taskbot24 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot24 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot24 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskQ1 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#taskQ1 #iframe3 { position: absolute; top: 8.33%; left: 0.00%; width: 100.00%; height: 91.67%; }

#taskQ1 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#taskQ1 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskQ1 #image4 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskQ2 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#taskQ2 #iframe3 { position: absolute; top: 8.33%; left: 0.00%; width: 100.00%; height: 91.67%; }

#taskQ2 #image7 { position: absolute; top: 3.33%; left: 37.50%; width: 30.00%; height: 3.33%; }
#taskQ2 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskQ2 #image4 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskQ3 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#taskQ3 #iframe3 { position: absolute; top: 8.33%; left: 0.00%; width: 100.00%; height: 91.67%; }

#taskQ3 #image5 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }
#taskQ3 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskQ3 #image4 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskQ4 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#taskQ4 #iframe3 { position: absolute; top: 8.33%; left: 0.00%; width: 100.00%; height: 91.67%; }

#taskQ4 #image5 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }
#taskQ4 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskQ4 #image4 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskQ5 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }
#taskQ5 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }
#taskQ5 #iframe3 { position: absolute; top: 8.33%; left: 0.00%; width: 100.00%; height: 91.67%; }

#taskQ5 #image5 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }
#taskQ5 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot31 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot31 #image4 { position: absolute; top: 15.00%; left: 0.00%; width: 100.00%; height: 58.33%; }
#taskbot31 #image5 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }

#taskbot31 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot31 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot31 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot32 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot32 #image4 { position: absolute; top: 15.00%; left: 0.00%; width: 100.00%; height: 53.33%; }
#taskbot32 #image5 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }

#taskbot32 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot32 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot32 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot33 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot33 #image4 { position: absolute; top: 15.00%; left: 0.00%; width: 100.00%; height: 50.00%; }
#taskbot33 #image5 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }

#taskbot33 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot33 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot33 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot34 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot34 #image4 { position: absolute; top: 15.00%; left: 0.00%; width: 100.00%; height: 56.67%; }
#taskbot34 #image5 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }

#taskbot34 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot34 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot34 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot41 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot41 #image4 { position: absolute; top: 16.67%; left: 5.00%; width: 90.00%; height: 41.67%; }
#taskbot41 #image5 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }

#taskbot41 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot41 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot41 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot42 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot42 #image4 { position: absolute; top: 15.00%; left: 7.50%; width: 85.00%; height: 43.33%; }
#taskbot42 #image5 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }

#taskbot42 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot42 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot42 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot43 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot43 #image4 { position: absolute; top: 15.00%; left: 7.50%; width: 85.00%; height: 46.67%; }
#taskbot43 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot43 #image5 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }

#taskbot43 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot43 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot44 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot44 #image4 { position: absolute; top: 15.00%; left: 7.50%; width: 85.00%; height: 43.33%; }
#taskbot44 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot44 #image5 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }

#taskbot44 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot44 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot51 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot51 #image4 { position: absolute; top: 20.00%; left: 10.00%; width: 80.00%; height: 51.67%; }
#taskbot51 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot51 #image7 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }

#taskbot51 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot51 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot52 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot52 #image4 { position: absolute; top: 20.00%; left: 7.50%; width: 85.00%; height: 53.33%; }
#taskbot52 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot52 #image7 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }

#taskbot52 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot52 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#taskbot53 #image1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#taskbot53 #image4 { position: absolute; top: 18.33%; left: 5.00%; width: 90.00%; height: 51.67%; }
#taskbot53 #image6 { position: absolute; top: 85.00%; left: 75.00%; width: 20.00%; height: 10.00%; }

#taskbot53 #image5 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }

#taskbot53 #image3 { position: absolute; top: 3.33%; left: 5.00%; width: 6.25%; height: 3.33%; }

#taskbot53 #image2 { position: absolute; top: 1.67%; left: 82.50%; width: 10.00%; height: 5.00%; }

#dialogscafproce #html1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#dialogscafproce #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogscafstretegic #html1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#dialogscafstretegic #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogscafmeta #html1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#dialogscafmeta #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogconcep1 #html1 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#dialogconcep1 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogconcep2 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogconcep3 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogconcep4 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogconcep5 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialoghandout1 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#dialoghandout1 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialoghandout2 #html1 { position: absolute; top: 8.33%; left: 0.00%; width: 100.00%; height: 90.00%; }

#dialoghandout2 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialoghandout3 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#dialoghandout3 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialoghandout4 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#dialoghandout4 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialoghandout5 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#dialoghandout5 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogtask1 .modal-content { font-family: "Times New Roman", Times, serif; }
#dialogtask1 #image2 { position: absolute; top: 15.00%; left: 0.00%; width: 100.00%; height: 48.33%; }

#dialogtask1 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogtask1 #image1 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }

#dialogtask2 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }
#dialogtask2 #image7 { position: absolute; top: 3.33%; left: 35.00%; width: 30.00%; height: 3.33%; }
#dialogtask2 #image4 { position: absolute; top: 23.33%; left: 2.50%; width: 95.00%; height: 50.00%; }

#dialogtask3 #image7 { position: absolute; top: 3.33%; left: 32.50%; width: 37.50%; height: 3.33%; }
#dialogtask3 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }
#dialogtask3 #image4 { position: absolute; top: 21.67%; left: 2.50%; width: 95.00%; height: 53.33%; }

#dialogtask4 #image7 { position: absolute; top: 1.67%; left: 32.50%; width: 37.50%; height: 6.67%; }
#dialogtask4 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }
#dialogtask4 #image4 { position: absolute; top: 13.33%; left: 2.50%; width: 95.00%; height: 51.67%; }

#Ansbot11 #iframe1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#Ansbot11 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#Ansbot12 #iframe1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#Ansbot12 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }

#dialogtask5 #image1 { position: absolute; top: 3.33%; left: 40.00%; width: 22.50%; height: 3.33%; }
#dialogtask5 #imgpush2 { position: absolute; top: 1.67%; left: 87.50%; width: 10.00%; height: 6.67%; }
#dialogtask5 #image4 { position: absolute; top: 16.67%; left: 2.50%; width: 95.00%; height: 53.33%; }
